@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
:root {
  --background: #ffffff;
  --foreground: #09090b;
  --card: #f5f5f5;
  --muted: #737373;
  --border: #e4e4e7;
  --primary: #09090b;
  --accent: #41751C;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --success: #22c55e;
  --warning: #f97316;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #18181b;
  --muted: #a1a1aa;
  --border: #27272a;
  --primary: #fafafa;
  --accent: #84CC16;
  --accent-foreground: #09090b;
  --destructive: #f87171;
  --success: #4ade80;
  --warning: #fb923c;
}
}