@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;;
    --card: 0 0% 96%;
    --muted: 240 3.8% 46.1%;
    --border: 240 5.9% 90%;
    --primary: 240 10% 3.9%;
    --accent: #41751C;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --success: 142 71% 45%;
    --warning: 38 92% 50%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;;
    --card: 240 10% 9.8%;
    --muted: 240 5% 64.9%;
    --border: 240 3.7% 15.9%;
    --primary: 0 0% 98%;
    --accent: #84CC16;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 70%;
    --success: 142 71% 59%;
    --warning: 38 92% 65%;
  }
}